@charset "UTF-8";

/*ESTILO PARA IMPRESSORAS*/
*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}
menu{
    display: none;/*SERVE PARA ESCONDER O CONTEUDO DE ALGUMA CAIXA*/
}