@charset "UTF-8";

:root{

}
*{
    
}
header{
    background-color: black;
    margin: auto;

}
h1{
    color: white;
    text-align: center;
}
h2{
    color: white;
    text-align: center;
}
#container1{
    background-image: url(imagens/background001.jpg);
}
#conteudo1{
    background-color: rgba(0, 0, 0, 0.171);
    height: 600px;
    width: 200px;
}
#container2{
    background-image: url(imagens/background002.jpg);
}
#conteudo2{
    background-color: rgba(0, 0, 0, 0.171);
    height: 600px;
    width: 200px;
}
footer>p{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
}