
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#conteudo{
    display: flex;
    position: absolute;
    top: 0%;
    left: 35%;
}
.display{
    display: flex;
    width: 272px;
    height: 472px;
    background-color: aqua;
    position: absolute;
    top: 13%;
    left: 36.5%;

}
iframe{
    width: 90vw;
    height: 500px;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.logo{
    padding: 10px;
    display: flex;
    width: 50px;
    height: 50px;
    margin-left: 1250px;
}
.phone{
    margin: auto;

}
.logo2{
   border-radius: 50%;
}
a:hover{
    transition: all;
}