
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#conteudo{
    height: 600px;
    display: flex;
    position: absolute;
    top: 1%;
    left: 35%;
}
iframe{
    width: 260px;
    height: 450px;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 13%;
    left: 36.5%;
    
}
.logo{
    padding: 10px;
    display: flex;
    width: 40px;
    height: 40px;
    margin-left: 1250px;
}
.logo2{
   border-radius: 50%;
   width: 40px;
   height: 40px;
}
.logo2:hover{
    translate: initial;
    border-style: groove;
 
}
